
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

#container {
    padding: 15px;
    width: min-content;
    margin: 0 auto;
    border-radius: 14px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 30vh;
}

img {
    border-radius: 14px;
    width: fit-content;
    height: 200px;
}

.content-1 {
    
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.content-2 {
    font-weight: 400px;
    text-align: center;
    color: hsl(212, 45%, 89%);
   
}

.attribution {
    text-align: center;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
    
}

.attribution a{
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}
